# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular tools for Data Science
- Execute Python expression
- Convert `200 minutes` to `hours` using Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Panda
3. Tensorflow

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Visual Studio Code |
| Google Colab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Shubham Kundu

## Author
Shubham Kundu